# Discord application token from ka soo qaado discord devepoloper
DISCORD_TOKEN=

# PostgreSQL connection string oo uu botka data ka soo qaato
DATABASE_URL=

# Google Gemini API key kaliya waxaa loo isticmaalaa hadii aad rabtid ai
GEMINI_API_KEY=
